:root {
  --bg: rgb(208, 225, 225);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Staylista", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--bg);
}